## **Tuples**

A tuple is a built-in data structure in Python used to store multiple items in a single variable, just like a list.

> immutable (cannot change),

> ordered,

> allow duplicates,

> store mixed data types.

In [ ]:
my_tuple = (
    "Hanifa",            # string
    234,                 # integer
    [1, 2, 3],           # list
    {"x": 10, "y": 20},  # dictionary
    {4, 5, 6}            # set
)
print(my_tuple)

**Now here’s something interesting**

**we can't do:**

In [ ]:
my_tuple[1] = [9, 9, 9]   #  TypeError (tuple is immutable)

**But we can do:**

In [ ]:
my_tuple[2].append(4)      #  allowed (inner list is mutable)
my_tuple[3]["z"] = 30      #  allowed (dict is mutable)
print(my_tuple)

**So even though the tuple itself didn’t change its structure,**

**the contents of its mutable elements (list/dict/set) did change.**

## **Basics of Tuples**

### **1.Creating Tuples**

In [ ]:
# tuples storing integers
t1 = (1, 2, 3)

# tuple storing strings
t2 = ("apple", "banana", "cherry")

# tuple storing mixed data types
t3 = (1, "hello", 3.5, True)

# tuple storing list
t4 = tuple([1, 2, 3])   # using tuple() constructor

print(t1)
print(t2)
print(t3)
print(t4)

### **2.Tuple Immutability**

>Tuples cannot be changed  but that doesn’t mean you can’t “simulate” changes.

##### **Not allowed**

In [ ]:
t5 = (1, 2, 3)
t5[0] = 9   # TypeError

##### **Allowed (by recreating a new tuple)**

>So “changing” a tuple actually creates a new one behind the scenes!

In [ ]:
t6 = (1, 2, 3)
t6 = t6 + (4,)     # Adds new element by creating new tuple
print(t6)         # (1, 2, 3, 4)

### **3.Accessing Tuple Elements (Indexing and Slicing)**

 **We can access tuple elements like lists using indexing:**

In [ ]:
t = ("apple", "banana", "cherry")

print(t[0])   # apple
print(t[-1])  # cherry

**We can slice them too:**

In [ ]:
print(t[0:2])   # ('apple', 'banana')
print(t[::-1])  # ('cherry', 'banana', 'apple') — reverse order

### **4.Tuples Operations**

**Even though tuples are immutable, you can perform some operations that return new tuples.**

#### **i.Concatenation**

> combine two tuples using +

In [ ]:
a = (1, 2)
b = (3, 4)
c = a + b
print(c)   # (1, 2, 3, 4)

#### **ii.Repetition**

> Repeat elements using *

In [ ]:
a = (1, 2)
b = a * 3
print(b)  # (1, 2, 1, 2, 1, 2)

#### **iii.Membership Testing**

> Use 'in' or 'not in' to check existence

In [ ]:
nums = (1, 2, 3)
print(2 in nums)     # True
print(4 not in nums) # True

### **5.Nested Tuples(Tuples inside Tuples)**

> Nested tuples are great when you want to group related data together that shouldn’t be modified.

>Benefits:

>Data stays safe (no accidental modification)

>Lightweight (tuples use less memory than lists)

In [ ]:
students = (
    ("Hanifa", 20, "AI"),
    ("Ayesha", 21, "Python"),
    ("Sana", 19, "ML")
)

for name, age, subject in students:
    print(f"{name} - {subject} ({age})")

>Summary: Why Nested Tuples Matter

| Use Case              | Real-World Example             | Why Tuples?                      |
| --------------------- | ------------------------------ | -------------------------------- |
| Database records      | Student info, employee records | Data safety (immutable)          |
| Coordinates           | GPS, 2D/3D points              | Fixed pairs of values            |
| Colors                | RGB, Hex codes                 | Never change colors accidentally |
| Structured data       | Students → (name, marks)       | Lightweight and safe             |
| Machine Learning / AI | Dataset samples                | Faster and immutable             |

## **6.Tuple packing / unpacking**

#### **i.Tuple Packing**

>Packing: means grouping multiple values into a single tuple.

>It’s like putting different items into one box.

In [ ]:
# Packing multiple values into a tuple
student = ("Hanifa", 20, "BS Software Engineering")
print(student)

**Here we packed 3 separate values (name, age, degree) into one single variable.**

**Why use it?**

**To store related data together (like a database record).**

**To pass multiple values easily to or from a function.**

#### **ii.Tuple Unpacking**

>Unpacking: means extracting values from a tuple into separate variables.

>It’s like opening the box and taking out items one by one.

In [ ]:
student = ("Hanifa", 20, "BS Software Engineering")

# Unpacking into variables
name, age, degree = student

print("Name:", name)
print("Age:", age)
print("Degree:", degree)

#### **iii.Partial Unpacking__Using * (star operator)**

>When we don’t know how many values will be there,

>we can use * to collect “the rest” into a list.

In [ ]:
data = ("AI", "ML", "DL", "NLP", "CV")

field1, *other_fields = data
print("Main Field:", field1)
print("Other Fields:", other_fields)

> **Or we can put the star in the middle:**

In [ ]:
first, *middle, last = (1, 2, 3, 4, 5)
print(first)   # 1
print(middle)  # [2, 3, 4]
print(last)    # 5

## **7.Iterating(looping) and Enumerate Tuples**

### **i.Iterating over tuple**

>We can loop through tuples just like lists 

>useful when we want to process each value one by one.

In [ ]:
colors = ("red", "green", "blue")

for color in colors:
    print("Color:", color)

### **ii.Enumerate Tuples**

In [ ]:
subjects = ("Math", "AI", "Physics")

for index, subject in enumerate(subjects):
    print(f"{index}. {subject}")

## **8.Tuple Methods**

>Tuples have only two built-in methods, since they are immutable.

| Method       | Description                                  | Example              | Output |
| ------------ | -------------------------------------------- | -------------------- | ------ |
| **count(x)** | Returns how many times `x` appears           | `(1,2,2,3).count(2)` | `2`    |
| **index(x)** | Returns the index of first occurrence of `x` | `(1,2,3).index(2)`   | `1`    |

In [ ]:
tpl = (1, 3, 8, 9, 3, 9, 2)
# tpl.count(1)
# tpl.count(2)
tpl.count(3)
# tpl.count(8)
# tpl.count(9)

In [ ]:
tpl.index(3)

## **9.Functions that Work with Tuples**

| Function    | Description         | Example           | Output    |
| ----------- | ------------------- | ----------------- | --------- |
| `len(t)`    | Length of tuple     | `len((1,2,3))`    | `3`       |
| `min(t)`    | Minimum value       | `min((2,8,1))`    | `1`       |
| `max(t)`    | Maximum value       | `max((2,8,1))`    | `8`       |
| `sum(t)`    | Sum (numeric only)  | `sum((1,2,3))`    | `6`       |
| `sorted(t)` | Returns sorted list | `sorted((3,1,2))` | `[1,2,3]` |

## **10.Tuple Conversion**

| Conversion   | Function  | Example                   | Notes                           |
| ------------ | --------- | ------------------------- | ------------------------------- |
| Tuple → List | `list()`  | `list((1,2,3))`           | Becomes mutable                 |
| List → Tuple | `tuple()` | `tuple([1,2,3])`          | Becomes immutable               |
| Tuple → Set  | `set()`   | `set((1,2,2,3))`          | Removes duplicates              |
| Set → Tuple  | `tuple()` | `tuple({1,2,3})`          | Order lost, but fixed           |
| Tuple → Dict | `dict()`  | `dict((('a',1),('b',2)))` | Must have key-value pairs       |
| Dict → Tuple | `tuple()` | `tuple(student.items())`  | Can take keys, values, or items |
| Tuple → String | `" ".join()` | `" ".join(('Python', 'is', 'fun'))` | To store or display as text |
|  String → Tuple | `tuple()` | `tuple(s)` | To get each char separately |

In [ ]:
print("hanifa")